.rockets-container {
  display: grid;
  gap: 2rem;
}

.dragon {
  display: flex;
  gap: 3rem;
}

.dragon-img {
  width: 30%;
}

.dragon-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.dragon-detail h2 {
  font-size: 2rem;
  color: #25292d;
}

.badge {
  background-color: #18a2b8;
  color: #fff;
  border-radius: 4px;
  margin-right: 0.6rem;
}

.btn-reservation {
  background-color: #007bff;
  color: #fff;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}
